.canvas_object h1{ font-size: 30px; color: #444; }
.canvas_object { color: #555; position: absolute; z-index: 2000; display: block; padding: 0px; cursor: move; border: 2px solid transparent; font-size:12px; }
.canvas_object .content { display: block; line-height: 120%; overflow: hidden; }
.canvas_object .overlay { position: absolute; top: 0; left: 0; background: transparent; z-index: 2001; width: 100%; height: 100%; }
.canvas_object_edit .delete { padding-left: 5px; text-decoration: underline; color: #069; font-size: 11px; cursor: pointer; line-height: 28px; }
.start, .canvas_object_edit .submit{ font-size: 13px; border: 1px solid #666666; color: #333333; text-align: center; text-shadow: 0pt 1px 1px #FFF;height: 25px; padding: 0 6px;
	background: -webkit-gradient(linear, left bottom, left top,  color-stop(0, #a0a0a0),  color-stop(1, #dcdcdc));
	background: -moz-linear-gradient(center bottom, #a0a0a0 0%, #dcdcdc 100%) repeat scroll 0pt 0pt transparent;
}
.start {
	outline: none;
	color: #fff;
	border: 1px solid #339;
	text-shadow: 1px 1px 1px #111;
	background: -webkit-gradient(linear, left bottom, left top,  color-stop(0, #1e5799),  color-stop(1, #7db9e8));
	background: -moz-linear-gradient(center bottom, #1e5799 0%, #7db9e8 100%) repeat scroll 0pt 0pt transparent;
}
.start:hover, .start:focus {
	color: #fff;
	background: -webkit-gradient(linear, left bottom, left top,  color-stop(0, #0e4789),  color-stop(1, #6da9d8));
	background: -moz-linear-gradient(center bottom, #0e4789 0%, #6da9d8 100%) repeat scroll 0pt 0pt transparent;
}
.start:active {
	color: #fff;
	background: -webkit-gradient(linear, left bottom, left top,  color-stop(0, #69a9d8),  color-stop(1, #0e4789));
	background: -moz-linear-gradient(center bottom, #69a9d8 0%, #0e4789 100%) repeat scroll 0pt 0pt transparent;
}
.canvas_object_edit .unit{ font-size: 10px; font-weight: bolder;  }
.canvas_object ul.content{ list-style: disc inside; padding-left:1px; line-height: 150%; }
.canvas_object .link{ color: blue; text-decoration: underline; }

/* this is a hack to get select tags to conform to explicitly-set height/width values */
.canvas_object select, .canvas_object .submit { background: #eee; }
.canvas_object textarea { padding: 0; }

.box_container{ z-index: 0;}

.box { width: 100px; height: 100px; border: 1px solid #222; }
.horizontal_line, .vertical_line { background: #222; width: 100px; height: 100px; padding: 1px; margin: 0; }
.horizontal_line { height: 0; }
.vertical_line { width: 0; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 500; display: none; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

/* shows resize handles when hovered, selected, selecting, or resizing */
.ui-selecting .ui-resizable-handle, .ui-resizable-resizing .ui-resizable-handle, .canvas_object:hover .ui-resizable-handle, .ui-selected .ui-resizable-handle { display: block; }
.ui-selecting, .ui-resizable-resizing, .ui-selected, .canvas_object:hover { border-color: #0073aa; }

.ui-selectable-helper { position: absolute; z-index: 1; border: 2px dotted #666; }
#tools .ui-draggable, #canvas .ui-draggable { cursor: move; }
.ui-resizable { position: relative; }

.ui-resizable-n, .ui-resizable-e, .ui-resizable-s, .ui-resizable-w { border: 0px solid #0073aa; }
.ui-resizable-ne, .ui-resizable-se, .ui-resizable-sw, .ui-resizable-nw { width: 32px; height: 32px; background-repeat: no-repeat; }

.ui-resizable-n { cursor: n-resize; height: 11px; width: 100%; top: -11px; left: 0; background: transparent url('/images/tophandle.png') no-repeat center 1px; border-bottom-width: 2px; }
.ui-resizable-s { cursor: s-resize; height: 11px; width: 100%; bottom: -11px; left: 0; background: transparent url('/images/bottomhandle.png') no-repeat center -1px; border-top-width: 2px; }
.ui-resizable-e { cursor: e-resize; width: 11px; height: 100%; right: -11px; top: 0; background: transparent url('/images/rightcenterhandle.png') no-repeat -1px center; border-left-width: 2px; }
.ui-resizable-w { cursor: w-resize; width: 11px; height: 100%; left: -11px; top: 0; background: transparent url('/images/leftcenterhandle.png') no-repeat 1px center; border-right-width: 2px; }

.ui-resizable-se { width: 32px; height: 32px; cursor: se-resize; right: -25px; bottom: -25px; background: url('/images/bottomrighthandle.png') top left no-repeat; }
.ui-resizable-sw { cursor: sw-resize; left: -25px; bottom: -25px; background: transparent; }
.ui-resizable-nw { cursor: nw-resize; left: -25px; top: -25px; background: transparent; }
.ui-resizable-ne { cursor: ne-resize; right: -25px; top: -25px; background: transparent; }

.vertical_line ~ .ui-resizable-handle { border-color: transparent; background: url('/images/handle.png') no-repeat; width: 21px; height: 23px; left: -8px; }
.horizontal_line ~ .ui-resizable-handle { border-color: transparent; background: url('/images/handle.png') no-repeat; width: 18px; height: 21px; top: -9px; }



.canvas_object .select, .canvas_object .submit {
	background: -webkit-gradient(linear, left bottom, left top,  color-stop(0, rgb(160,160,160)),  color-stop(1, rgb(220,220,220)));
	background: -moz-linear-gradient( center bottom,  rgb(160,160,160) 0%, rgb(220,220,220) 100%); color: #333; text-shadow: 0 1px 1px #fff;
	text-align: center;
	border: 1px solid #666;
	width: 60px; height: 20px;
}
.canvas_object .submit_inner { display: table; height: 100%; width: 100%; }
.canvas_object .submit_text { display: table-cell; vertical-align: middle; }

.canvas_object .select { width: 100px; height: 25px; padding-right: 28px; background: #ccc; }
.canvas_object .select_inner { display: table; height: 100%; width: 100%; overflow: hidden; }
.canvas_object .select_text { display: table-cell; vertical-align: middle; }
.canvas_object .select_right_outer { position: absolute; top: 0; right: 0; height: 100%; width: 28px; border-left: 1px solid #666; overflow: hidden; background: #666; }
.canvas_object .select_right { display: table; height: 100%; margin: 0 auto; }
.canvas_object .select_right_inner { display: table-cell; height: 8px; width: 8px; vertical-align: middle; }
.canvas_object .select_click { display: table-cell; height: 8px; width: 16px; overflow: hidden; display: block; }
.canvas_object .select_click_inner { display: table-cell; height: 0; width: 0; border: 8px solid transparent; border-top: 8px solid #ccc; }

