


html { background: url('/images/stripes.png') repeat top left; font-family: 'Verdana', sans-serif; }
a { text-decoration:none; color:#3c3c3c; }
#canvas { background: #fff; height: 100%; width: 960px; height: 600px; display: block; border: 1px solid #999; border-top: 0; border-left: 0; }
#set_password { cursor: pointer; }

#add_page { margin: 0 0 5px 10px; color: #333; }
#add_page:hover { color: #000; background: #080; }
#mockup_pages li, #add_page { padding: 0; cursor: pointer; height: 25px;  }
#mockup_pages li form.name_update { display: inline-block; width: 130px; }
#mockup_pages li a { display: inline-block; }
#mockup_pages a { line-height: 17px; height: 20px; text-decoration: none; color: #777; overflow: hidden; text-shadow: 0 0 0;}
#mockup_pages a.selected { color: #000; font-weight: bold; }
#mockup_pages .delete { line-height: 20px; display: inline-block; vertical-align: top; }
#mockup_pages li form.name_update input { margin-bottom: 0; margin-right: 0; height: 19px; width: 124px; background: white; border: none; color: black; text-decoration: none; }
#mockup_pages li a.h, #mockup_pages li form input.h { display: none; }


#floatingpanel {
	width:200px;
	min-height:100px;
	background:#d5d5d5;
	border:1px solid #444444;
	text-shadow:0 1px 0 #ffffff;
	font-family:'Thonburi', 'Verdana', sans-serif;
	font-size:12px;
	position: fixed;
	top: 20px;
	right: 20px;
/*
	-webkit-transition: all .1s ease;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: .5;
	-webkit-animation-timing-function: ease-in-out;
*/
	z-index: 1000;
}

#floatingpanel hr { width: 160px; }

#handler {
	background:#b3b3b3;
	border-bottom:1px solid #444444;
	height:30px;
}

#expandcollapse {
	background:url(/images/collapseicon.png);
	width:11px;
	height:11px;
	float:right;
	margin:10px 5px;
}

#draggable {
	background:url(/images/draggableicon.png);
	width:19px;
	height:11px;
	float:right;
	margin:10px 5px;
	cursor:move;
}

#logo {
	font-size:12px;
	padding:0;
	margin:5px;
	display:inline-block;
}

#settings {
	float:left;
	color:#70757b;
	width: 200px;
	margin: 5px 0;
}

#settings img {
	float:right;
	margin: 5px 5px 0 0;
}

#settings input {
	background: none;
	border: 1px solid transparent;
	color: #70757b;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	font-family: 'Thonburi', 'Verdana', sans-serif;
	margin-left: 5px;
}

#settings input:focus, #settings input:hover {
	background: white;
	border: 1px solid #f0f0f0;
	border-style: inset;
	color: #333;
}


#tabs {
	background:#d5d5d5;
	height:auto;
	display:block;
	line-height:22px;
}

#tabs h3 {
	padding:5px 0;
	margin:0;
	font-size:12px;
	display:inline-block;
	width:100px;
	float:left;
	text-align:center;
	height:20px;
	cursor:pointer;
}

#tabs ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
/*	margin:5px;*/
}

#tabs li ul li:hover {
	background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
	background: -moz-linear-gradient( center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%); color: #fff; text-shadow: #000 0px 1px 1px;
}
#tabs li ul li:hover a {
	color: #fff;
	text-shadow: #000 0px 1px 1px;
}
 
#tabs li ul li a {
	margin:5px;
}

#tabs li ul li  {
	line-height:20px;
	vertical-align:middle;
	padding-left:5px;
}

#tabs li ul li * {
	vertical-align:middle;
}

#tools {
	width:200px;
	float:left;
	text-align:center;
	margin:5px 0;
}

.inactive {
	background:#b3b3b3;
}

/*fadein*/
/*
@-webkit-keyframes fadein {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
*/

.sectionbreak {
	margin:0 0 0 5px;
}


#flash { position: fixed; bottom: 0; right: 0; overflow: auto;  border: 1px solid #eee; font-size: 13px, sans-serif; }
#flash p { padding: 8px; margin: 0; }
#flash p:nth-child(odd) { background: #F6F6F6; }
.flash { color: #633; border: 1px solid #f00; background: #fdd; display: block; padding: 5px; margin-bottom: 5px; }


.ui-dialog { position: absolute; background: #d5d5d5; border: 1px solid #444; overflow: hidden; font-family: 'Thonburi', 'Verdana', sans-serif; font-size: 12px; text-shadow: 0 1px 0 #fff; }
.ui-dialog-titlebar { background: #b3b3b3; border-bottom: 1px solid #444; cursor: move; text-align: center; padding: 5px; }
.ui-dialog-content { padding: 10px; overflow: hidden; }
.ui-dialog-content label { display: block; }
.ui-dialog-content textarea { width: 200px; height: 60px; }
.ui-dialog-content input, .ui-dialog-content textarea { margin: 3px 0 6px 0; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #666; opacity: .50; filter: Alpha(Opacity=50); }
.ui-dialog-titlebar-close { display: none; }

/*
.ui-widget { font-family: "Verdana", "Arial", sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: "Verdana", "Arial", sans-serif; font-size: .7em; }
.ui-widget textarea { width: 298px; height: 95px; }
.ui-widget-content { border: 1px solid #aaa; background: #fff 50% 50% repeat-x; color: #222; }
.ui-widget-content a { color: #222; }
.ui-widget-header { border: 1px solid #aaa; background: #ccc 50% 50% repeat-x; color: #222; font-weight: bold; }
.ui-widget-header a { color: #222; }

.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .5em 1em .3em; position: relative;  }
.ui-dialog .ui-dialog-title { } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: 30px; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover { color: #c33; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: 0; background: none; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }
*/


.clear { clear: both; height: 1px; }

/* border radius styles */
.rad5, .ui-dialog, .ui-dialog-titlebar { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.rad5.nw { border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; }
.rad5.ne { border-top-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; }
.rad5.se, .ui-dialog-titlebar { border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-right-radius: 0; }
.rad5.sw, .ui-dialog-titlebar { border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-left-radius: 0; }




