html { background: url('/images/stripes.png') repeat top left; font-family: 'Verdana', sans-serif; height:100%}
a { text-decoration:none; color:#3c3c3c; }
#connecting { text-align: center; }
	#wait { background: transparent url('/images/333.gif') no-repeat top left; margin: 30px auto; width: 32px; height: 32px; }
#canvas { background: #fff; width: 960px; height: 600px; display: block; border: 1px solid #999; border-top: 0; border-left: 0; }
#set_password { cursor: pointer; }

/* TODO clean this mess up */
#tabs #settings #mockup_pages li:hover { background: none; text-decoration: none; color: #777; overflow: hidden; }
#mockup_pages li { position: relative; }
#mockup_pages li, #add_page { padding: 0; height: 25px; }
#mockup_pages { height: 200px; overflow-y: scroll; }
#mockup_pages li a { display: inline-block; cursor: pointer; width: 145px; overflow: hidden; }
#mockup_pages a { line-height: 17px; height: 20px; text-decoration: none; color: #777; overflow: hidden; }
#mockup_pages a.selected { color: #000; font-weight: bold; }
#mockup_pages .delete { cursor: pointer; position: absolute; top: 4px; right: 0; line-height: 20px; display: inline-block; vertical-align: top; }
#mockup_pages li form.name_update input { margin-bottom: 0; margin-right: 0; height: 19px; width: 120px; background: white; border: none; color: black; text-decoration: none; }
#mockup_pages li a.h, #mockup_pages li form input.h { display: none; }
#add_page { cursor: pointer; margin: 0 0 5px 10px; color: #333;} 
#add_page:hover { color: #000; background: url("/images/plusicon.png") no-repeat scroll 150px 5px transparent; }


#floatingpanel {
	width: 200px;
	background: #d5d5d5;
	border: 1px solid #444444;
	font-family: 'Thonburi', 'Verdana', sans-serif;
	font-size: 12px;
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9000;
}

#floatingpanel hr { width: 160px; }

#handler {
	background: #b3b3b3;
	border-bottom: 1px solid #444444;
	height: 30px;
	cursor: move;
}

#expandcollapse {
	background:url(/images/collapseicon.png);
	width:11px;
	height:11px;
	float:right;
	margin:10px 5px;
	cursor:pointer;
}

#expandcollapse.collapsed{
	background:url(/images/expandicon.png);
}

.section_break { background:url('/images/sectionbreak.png') 10px 0 no-repeat; text-indent: -9999px; cursor:pointer; }
.section_break.collapsed{ background: url('/images/sectionbreakclosed.png') 10px 0 no-repeat;}
#draggable {
	background:url(/images/draggableicon.png);
	width:19px;
	height:11px;
	float:right;
	margin:10px 5px;
	cursor:move;
}

#logo {
	font-size: 13px;
	padding: 0;
	margin: 5px;
	display: inline-block;
	line-height: 20px;
}

#settings {
	float: left;
	color: #70757b;
	width: 200px;
	margin: 5px 0;
}

#settings img {
	float: right;
	vertical-align: middle;
	margin: 3px 10px 0 0;
}

#settings input {
	background: none;
	border: 1px solid transparent;
	color: #70757b;
	text-shadow: 0 1px 0 #fff;
	font-size: 12px;
	font-family: 'Thonburi', 'Verdana', sans-serif;
	margin-left: 5px;
}

#settings input:focus, #settings input:hover {
	background: white;
	border: 1px solid #f0f0f0;
	border-style: inset;
	color: #333;
}


#tabs {
	background:#d5d5d5;
	height:auto;
	display:block;
	line-height:22px;
	margin-top:0px;
}

#tabs h3 {
	padding:5px 0;
	margin:0;
	font-size:12px;
	display:inline-block;
	width:100px;
	float:left;
	text-align:center;
	height:20px;
	cursor:pointer;
}

#tabs ul {
	list-style-type:none;
	margin:0;
	padding:0;
	text-align:left;
}

#tabs li ul li:hover {
	background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
	background: -moz-linear-gradient( center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%); color: #fff; text-shadow: #000 0px 1px 1px;
	color: white;
}

#tabs li ul.elements li:hover a { color: #fff; }
#tabs li ul li a {
	margin:5px;
}

#tabs li ul li  {
	line-height:20px;
	vertical-align:middle;
	padding-left:5px;
}

#tabs li ul li * {
	vertical-align:middle;
}

#tools {
	width:200px;
	float:left;
	text-align:center;
	margin:0;
	text-shadow:0 1px 0 #ffffff;
}

.inactive {
	background:#b3b3b3;
	margin:0;
}

.sectionbreak {
	margin:0 0 0 5px;
	cursor:pointer;
}


#growl { z-index: 8000; position: fixed; bottom: 0; right: 0; overflow: hidden; font-size: 11px; font-family: 'Thonburi', 'Verdana', sans-serif; }
#growl .notify { background: #a1acb6; width: 190px; overflow: hidden; padding: 5px; margin: 0 5px 5px 0; border: 1px solid #333; }

#flash { position: fixed; bottom: 0; right: 0; overflow: auto;  border: 1px solid #eee; font-size: 13px, sans-serif; }
#flash p { padding: 8px; margin: 0; }
#flash p:nth-child(odd) { background: #F6F6F6; }
.flash .active { color: #633; border: 1px solid #f00; background: #fdd; display: block; padding: 5px; margin-bottom: 5px; }


.ui-dialog { position: absolute; background: #d5d5d5; border: 1px solid #444; overflow: hidden; font-family: 'Thonburi', 'Verdana', sans-serif; font-size: 12px; text-shadow: 0 1px 0 #fff; }
.ui-dialog-titlebar { background: #b3b3b3; border-bottom: 1px solid #444; cursor: move; text-align: center; padding: 5px; }
.ui-dialog-content { padding: 10px; overflow: hidden; }
.ui-dialog-content label { display: block; }
.ui-dialog-content textarea { width: 200px; height: 60px; }
.ui-dialog-content input, .ui-dialog-content textarea { margin: 3px 0 6px 0; }
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #666; opacity: .50; filter: Alpha(Opacity=50); }
.ui-dialog-titlebar-close { display: none; }

#connecting label { display: inline-block; margin-left: 10px; }

.clear { clear: both; height: 1px; }

/* border radius styles */
.rad5, .ui-dialog, .ui-dialog-titlebar { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.rad5.nw { border-top-left-radius: 0; -moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; }
.rad5.ne { border-top-right-radius: 0; -moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; }
.rad5.se, .ui-dialog-titlebar { border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-right-radius: 0; }
.rad5.sw, .ui-dialog-titlebar { border-bottom-left-radius: 0; -moz-border-radius-bottomright: 0; -webkit-border-bottom-left-radius: 0; }

.option_pane input[type=text]{ width: 50px; }


