.status{ width: 250px; height: 60px; overflow: auto; text-align: center; }
.status .reconnect, .status .countdown{ display: block; }
#name_change{ display: inline; }

#projectinfo { position: absolute; left: 350px; }
#projectinfo #project_display_name{ background: none; border: none; }
#projectinfo #project_display_name:focus { background: #fff; border: 1px solid #f0f0f0; border-style: inset; }
#set_password { position: absolute; left: 550px; }
#set_password:hover { color: #000; cursor: pointer; }

#flash { position: fixed; bottom: 0; right: 0; overflow: auto;  border: 1px solid #eee; font: 13px "Verdana", sans-serif; }
#flash p { padding: 8px; margin: 0; }
#flash p:nth-child(odd) { background: #F6F6F6; }

 body { margin: 0; padding: 0; font-family: Helvetica; font-size: 14px; }
 /*p { padding: 0 0 0 20px; margin: 0; width: auto; }*/
 #header {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(167,167,167)),  color-stop(0.95, rgb(208,208,208)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient(center bottom,  rgb(167,167,167) 0%,  rgb(208,208,208) 90%,  rgb(255,255,255) 100%);
   height: 30px; width: 100%; line-height: 30px; border-bottom: 1px solid #000; color: #454545; text-shadow: #e3e3e3 0px 1px 1px; border-bottom: 5px solid #1454ab;
 }

 #logo { position: absolute; left: 20px; font-size: 12px; }
 #logo h1 { font-size: 17px; padding: 0; margin: 0; }
 #nav { position: absolute; left: 300px; font-size: 12px; }
 #nav ul { padding: 0; margin: 0; }
 #nav li { display: inline-block; padding: 0 5px 0 5px; }
 #nav li a { color: #454545; text-shadow: #fff 0px 1px 1px; text-decoration: none; display: block; padding: 0 5px 0 5px; cursor: pointer; }
 #nav .defaulttab a{ color: #fff; text-shadow: #000 0px 1px 1px; }
 #nav li a:hover { color: #fff; text-shadow: #000 0px 1px 1px; }
 #nav a{ cursor: pointer; }
 #nav li:hover {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient( center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%); color: #fff; text-shadow: #000 0px 1px 1px;
 }
 #nav .defaulttab {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient(center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%);
   color: #fff; text-shadow: #000 0px 1px 1px;
 }
 #userinfo { color: #454545; position: absolute; right: 20px; font-size: 12px; }
 #userinfo a { color: #454545; text-decoration: none; }
 #userinfo #display_name { background: none; border: none; }
 #userinfo #display_name:focus { background: white; border: 1px solid #f0f0f0; border-style: inset; }
 #resizer { position: fixed; bottom: 0; left: 0px; background: url('/images/resizer.png') right; width: 20%; text-align: right; height: 24px; line-height: 24px; }
 #canvas { height: 600px; overflow: visible; background: #fff; margin: 0 0 0 254px; position: relative; }

 @-webkit-keyframes slideinleft {
   from { margin-left: -30%; }
   to { margin-left: 0; }
 }
 @-webkit-keyframes slideintop {
   from { margin-top: -50px; }
   to { margin-top: 0; }
 }
 @-webkit-keyframes opacity {
   from { opacity: 0; }
   to { opacity: 1; }
 }

 a.signin { background: url("/images/down_arrow.png") no-repeat scroll 100% 57% transparent; margin-left: 3px; padding-right: 13px; position: relative; margin-right: 4px; text-decoration: none; }

.horizontal_main { -moz-box-shadow: 0 5px 5px black; -webkit-box-shadow: 0 5px 5px black; border: 1px solid black; display: inline; list-style-type: none; padding: 4px; }
.horizontal { color: #225A95; display: inline; list-style-type: none; padding: 4px; text-decoration: underline; border-right: 1px solid black; }

.last_element { -moz-box-shadow: 5px 5px 5px black; -webkit-box-shadow: 5px 5px 5px black; border: 1px solid black; display: inline; list-style-type: none; padding: 4px; }
.last_user_element { border-right: none; }

#canvas .global_container { width: 100px; height: 100px; }
.project_settings, .feature_settings, .new_feature_settings, .user_story_roles { background-color: white; border: 1px solid #999999; float: left; margin-left: 20px; min-height: 600px; padding: 3px; width: 76%; margin-top: 20px; }
.myframe { height: 600px; width: 100%; }

.settings_content { border-top: 1px solid black; padding-bottom: 2px; }




	#sideBar { float: left; background: #dbdbdb url('/images/sidebarbg.png'); width: 20%; min-height: 100%; border-right: 1px solid #000; z-index: 0; color: #717171; text-shadow: #000 0px 1px 1px; width: 253px; }
  #sideBar ol, #sideBar ul { margin: 0; padding: 0; line-height: 24px; }
	#sideBar ul li h3 { margin: 0; padding-left: 10px; }
	#sideBar ul li li.elements { cursor: move; }
	#sideBar ul li ul.elements li a { margin-left: 20px; padding-left: 20px; display: block; }
  #sideBar  ul>li>ul.elements>li:hover {
      background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(20,84,171)), color-stop(0.95, rgb(29,143,213)), color-stop(1, rgb(255,255,255)) );
      background: -moz-linear-gradient(center bottom, rgb(20,84,171) 0%, rgb(29,143,213) 90%, rgb(255,255,255) 100%);
      color: #fff; text-shadow: #000 0px 1px 1px;
  }
#sideBar .heading a        { background: url('/images/menu.png') no-repeat 0 -1px; }
#sideBar .paragraph a      { background: url('/images/menu.png') no-repeat 0 -189px; }
#sideBar .link a           { background: url('/images/menu.png') no-repeat 0 -113px; }
#sideBar .list a           { background: url('/images/menu.png') no-repeat 0 -140px; }
#sideBar .image a          { background: url('/images/menu.png') no-repeat 0 -357px; }
#sideBar .table,
#sideBar .global_container a { background: url('/images/menu.png') no-repeat 0 -462px; }
#sideBar .input_box a      { background: url('/images/menu.png') no-repeat 0 -87px; }
#sideBar .textarea a       { background: url('/images/menu.png') no-repeat 0 -295px; }
#sideBar .check_box a      { background: url('/images/menu.png') no-repeat 0 -326px; }
#sideBar .radio_buttons a  { background: url('/images/menu.png') no-repeat 0 -217px; }
#sideBar .submit_button a  { background: url('/images/menu.png') no-repeat 0 -241px; }
#sideBar .select_box a     { background: url('/images/menu.png') no-repeat 0 -422px; }
#sideBar .main_navigation a { background: url('/images/menu.png') no-repeat 0 -165px; }
#sideBar .user_navigation a { background: url('/images/menu.png') no-repeat 0 -165px; }
#sideBar .footer_navigation a { background: url('/images/menu.png') no-repeat 0 -165px; }

#sideBar .box_container a  { background: url('/images/menu.png') no-repeat 0 -442px; }
#sideBar .vertical_line a  { background: url('/images/menu.png') no-repeat 0 -385px; }
#sideBar .horizontal_line a { background: url('/images/menu.png') no-repeat 0 -481px; }
/*****sidebar end*****/

#sideBar #CssPaneTextArea { width: 200px; height: 400px; }



