

.canvas_object { position: absolute; z-index: 2; display: block; padding: 2px; cursor: move; overflow: hidden; background: #fff; }
/*.canvas_object:hover { border-color: #999; }*/


.box { width: 100px; height: 100px; border: 1px solid #222; }
.horizontal_line, .vertical_line { background: #222; width: 100px; height: 100px; padding: 0; margin: 0; border: 1px solid transparent; }
.horizontal_line { height: 0; }
.vertical_line { width: 0; }

.ui-resizable-handle { position: absolute; font-size: 0.1px; z-index: 500; display: none; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }

/* shows resize handles when hovered, selected, or resizing */
.ui-selecting .ui-resizable-handle, .ui-resizable-resizing .ui-resizable-handle, .canvas_object:hover .ui-resizable-handle, .ui-selected .ui-resizable-handle { display: block; }

.ui-selecting { border-color: #666; }
.ui-selectable-helper { position: absolute; z-index: 1; border: 2px dotted #666; }
.ui-draggable { cursor: move; }
.ui-resizable { position: relative; }

.ui-resizable-n, .ui-resizable-e, .ui-resizable-s, .ui-resizable-w { background: #069; z-index: 500; }
.ui-resizable-ne, .ui-resizable-se, .ui-resizable-sw, .ui-resizable-nw { background: #069; z-index: 1000; }
.ui-resizable-n { cursor: n-resize; height: 2px; width: 100%; top: 0; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 2px; width: 100%; bottom: 0; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 2px; right: 0; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 2px; left: 0; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 6px; height: 6px; right: 0; bottom: 0; }
.ui-resizable-sw { cursor: sw-resize; width: 6px; height: 6px; left: 0; bottom: 0; }
.ui-resizable-nw { cursor: nw-resize; width: 6px; height: 6px; left: 0; top: 0; }
.ui-resizable-ne { cursor: ne-resize; width: 6px; height: 6px; right: 0; top: 0; }



