.status{width:250px;height:60px;overflow:auto;text-align:center;}
.status .reconnect, .status .countdown{display:block;}
#name_change{display:inline;}
#projectinfo{position: absolute;left:350px;}
#projectinfo #project_display_name{background:none; border:none;}
#projectinfo #project_display_name:focus{background:white;border: 1px solid #f0f0f0; border-style:inset;}
#flash {  position:fixed; bottom:0; right:0;overflow: auto;  border: 1px solid #eee; font: 13px "Verdana", sans-serif; }
#flash p { padding: 8px; margin: 0; }
#flash p:nth-child(odd) { background: #F6F6F6; }

 body { margin:0; padding:0; font-family:Helvetica; font-size:14px; }
 p { padding:0 0 0 20px; margin:0; width:auto; }
 #header {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(167,167,167)),  color-stop(0.95, rgb(208,208,208)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient(center bottom,  rgb(167,167,167) 0%,  rgb(208,208,208) 90%,  rgb(255,255,255) 100%);
   height:30px; width:100%; line-height:30px; border-bottom:1px solid #000; color:#454545; text-shadow: #e3e3e3 0px 1px 1px; border-bottom:5px solid #1454ab;
 }

 #logo { position:absolute; left:20px; font-size:12px; }
 #logo h1 { font-size:17px; padding:0; margin:0; }
 #nav {position:absolute; left:300px; font-size:12px; }
 #nav ul { padding:0; margin:0; }
 #nav li { display:inline-block; padding:0 5px 0 5px; }
 #nav li a {color:#454545; text-shadow: #fff 0px 1px 1px; text-decoration:none; display:block; padding:0 5px 0 5px; cursor: pointer; }
 #nav .defaulttab a{color:#fff; text-shadow: #000 0px 1px 1px; }
 #nav li a:hover {color:#fff; text-shadow: #000 0px 1px 1px; }
 #nav a{ cursor: pointer; }
 #nav li:hover {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient( center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%); color:#fff; text-shadow: #000 0px 1px 1px;
 }
 #nav .defaulttab {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0, rgb(20,84,171)),  color-stop(0.95, rgb(29,143,213)),  color-stop(1, rgb(255,255,255)));
   background: -moz-linear-gradient(center bottom,  rgb(20,84,171) 0%,  rgb(29,143,213) 90%,  rgb(255,255,255) 100%);
   color:#fff; text-shadow: #000 0px 1px 1px;
 }
 #userinfo {color:#454545; position:absolute; right:20px; font-size:12px; }
 #userinfo a{color:#454545; text-decoration:none; }
 #userinfo #display_name{background:none;border:none;}
 #userinfo #display_name:focus{background:white; border:1px solid #f0f0f0;border-style:inset;}
 #resizer { position:fixed; bottom:0; left:0px; background:url('/images/resizer.png') right; width:20%; text-align:right; height:24px; line-height:24px; }
 #canvas{height:600px; overflow: visible; background: #FFF;border:solid black 3px; margin: 5px 5px 5px 259px;position:relative;}
 #canvas{ position: relative; }
 #tools{background: url('/images/blackbar.png') top left; height:25px; line-height:25px; border-bottom:1px solid #000; color:#fff;}
 #tools .selecturl{margin: 3px 0 0 5px;float:left;}
 #tools p{ padding:3px 0 0 14px; }
 #tools ul { display: inline-block; float:right; padding:0; margin:0 10px 0 0; }
 #tools ul li {
   background:-webkit-gradient( linear,  left bottom,  left top,  color-stop(0.21, rgb(167,167,167)),  color-stop(0.81, rgb(208,208,208)));
   background: -moz-linear-gradient( center bottom,  rgb(167,167,167) 21%,  rgb(208,208,208) 81%);
   display:inline-block; -moz-border-radius: 3px; border-radius: 3px; width:16px; height:16px; line-height:16px; text-align:center; border-top:1px solid #fff; text-shadow: #e3e3e3 0px 1px 1px; -moz-box-shadow: 0 1px 1px #000; -webkit-box-shadow: 0 1px 1px #000; color:#454545;
 }
 #tools ul li:hover {
   background: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0.81, rgb(167,167,167)),  color-stop(0.21, rgb(208,208,208)));
   background: -moz-linear-gradient(center bottom,  rgb(167,167,167) 81%,  rgb(208,208,208) 21%);
 }

 @-webkit-keyframes slideinleft {
   from { margin-left:-30%; }
   to { margin-left:0; }
 }
 @-webkit-keyframes slideintop {
   from { margin-top:-50px; }
   to { margin-top:0; }
 }
 @-webkit-keyframes opacity {
   from { opacity:0; }
   to { opacity:1; }
 }

 a.signin {background:url("/images/down_arrow.png") no-repeat scroll 100% 57% transparent; margin-left:3px; padding-right:13px; position:relative; margin-right:4px; text-decoration:none; }

#my_projects {
 -moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px;
 -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;
 display:none; background-color:#FFFFFF; position:absolute; z-index:100; border:1px solid #808080; padding-top:3px; margin-top:5px; color:#789; font-size:11px; right:71px; text-align:left; top:17px; line-height:15px;
}

#my_projects p{ color:#636363; margin:2px 9px; padding:2px 0; }
#my_projects p a{ color:#636363; }
#my_projects .project:hover{ background-color:#B3D4FF; }

#new_sitemap a, #edit_sitemap a{ display:block; }
#new_sitemap a, #edit_sitemap a{ padding-top:2px; padding-left:2px; }
#tools a img{ cursor:pointer;border:none; }
#edit_sitemap a{ color: #454545; text-decoration: none; }

.horizontal_main{ -moz-box-shadow: 0 5px 5px black; -webkit-box-shadow: 0 5px 5px black; border: 1px solid black; display: inline; list-style-type: none; padding: 4px; }
.horizontal{ color: #225A95; display: inline; list-style-type: none; padding: 4px; text-decoration: underline; border-right: 1px solid black; }

.last_element{ -moz-box-shadow: 5px 5px 5px black; -webkit-box-shadow: 5px 5px 5px black; border: 1px solid black; display: inline; list-style-type: none; padding: 4px; }
.last_user_element{ border-right: none; }

.box, #canvas .global_container{ width:100px; height:100px; }
.verLine{ height:100px; }
.horLine{ width:100px; }
.project_settings, .feature_settings, .new_feature_settings, .user_story_roles{ background-color:white; border:1px solid #999999; float:left; margin-left:20px; min-height:600px; padding:3px; width: 76%; margin-top:20px; }
.myframe{ height:600px; width:100%; }

.settings_content { border-top:1px solid black; padding-bottom:2px; }

/*----------------------------------*/
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0px; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0px; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
/*----------------------------------*/

.mockupToolbox .tb_button.remove { background: url("/images/icons/delete.png") transparent no-repeat; }
.mockupToolbox .tb_button.pBack { background: url("/images/icons/shape_move_back.png") transparent no-repeat; }
.mockupToolbox .tb_button.mBack { background: url("/images/icons/shape_move_backwards.png") transparent no-repeat; }
.mockupToolbox .tb_button.mForward { background: url("/images/icons/shape_move_forwards.png") transparent no-repeat; }
.mockupToolbox .tb_button.pFront { background: url("/images/icons/shape_move_front.png") transparent no-repeat; }
.mockupToolbox .tb_button.clone { background: url("/images/icons/page_copy.png") transparent no-repeat; }
.mockupToolbox .tb_button.copy { background: url("/images/icons/page_paste.png") transparent no-repeat; }

.mockupToolboxBehaviour:hover { opacity: 1; }
.mockupToolboxBehaviour { -moz-transition: opacity 0.2s ease-in-out; -o-transition: opacity 0.2s ease-in-out; -webkit-transition: opacity 0.2s ease-in-out; transition: opacity 0.2s ease-in-out; opacity: 0.3; }
.mockupToolbox .tb_button { display:block ; text-indent: -999em; float: left; width: 16px; height: 16px; margin: 3px; }
.mockupToolbox li { cursor:move; background-color:#CFCFCF; padding:2px 5px; margin:2px 0; }
.mockupToolbox li.horizontal_main, .mockupToolbox li.horizontal { display: block; list-style-type: inherit; padding-right: 0; -moz-box-shadow: none; -webkit-box-shadow: none; border: medium none; color: black; text-decoration: none; }
.mockupToolbox li.del { background-color:#800000; color:#fff; }

#dialog{ display:none; }
/****** sidebar begin ******/




.ui-draggable .ui-dialog-titlebar{ padding: 4px; }
  .mockup_wrapper{}
	#sideBar { float:left;background:#dbdbdb url('/images/sidebarbg.png'); width:20%; min-height:100%; border-right:1px solid #000; z-index:0; color:#717171; text-shadow: #000 0px 1px 1px; width:253px;}
  #sideBar ol, #sideBar ul{margin:0;padding:0; line-height:24px;}
	#sideBar ul li h3{margin:0; padding-left:10px;}
	#sideBar ul li li.elements { cursor: move; }
	#sideBar ul li ul.elements li a { margin-left:20px;padding-left:20px; display:block; }
  #sideBar  ul>li>ul.elements>li:hover {
      background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(20,84,171)), color-stop(0.95, rgb(29,143,213)), color-stop(1, rgb(255,255,255)) );
      background: -moz-linear-gradient(center bottom, rgb(20,84,171) 0%, rgb(29,143,213) 90%, rgb(255,255,255) 100%);
      color:#fff; text-shadow: #000 0px 1px 1px;
  }
#sideBar .heading a        {background:url('/images/menu.png') no-repeat 0 -1px;}
#sideBar .paragraph a      {background:url('/images/menu.png') no-repeat 0 -189px;}
#sideBar .link a           {background:url('/images/menu.png') no-repeat 0 -113px;}
#sideBar .list a           {background:url('/images/menu.png') no-repeat 0 -140px;}
#sideBar .image a          {background:url('/images/menu.png') no-repeat 0 -357px;}
#sideBar .table,
#sideBar .global_container a {background:url('/images/menu.png') no-repeat 0 -462px;}
#sideBar .input_box a      {background:url('/images/menu.png') no-repeat 0 -87px;}
#sideBar .textarea a       {background:url('/images/menu.png') no-repeat 0 -295px;}
#sideBar .check_box a      {background:url('/images/menu.png') no-repeat 0 -326px;}
#sideBar .radio_buttons a  {background:url('/images/menu.png') no-repeat 0 -217px;}
#sideBar .submit_button a  {background:url('/images/menu.png') no-repeat 0 -241px;}
#sideBar .select_box a     {background:url('/images/menu.png') no-repeat 0 -422px;}
#sideBar .main_navigation a {background:url('/images/menu.png') no-repeat 0 -165px;}
#sideBar .user_navigation a {background:url('/images/menu.png') no-repeat 0 -165px;}
#sideBar .footer_navigation a {background:url('/images/menu.png') no-repeat 0 -165px;}

#sideBar .box_container a  {background:url('/images/menu.png') no-repeat 0 -442px;}
#sideBar .vertical_line a  {background:url('/images/menu.png') no-repeat 0 -385px;}
#sideBar .horizontal_line a{background:url('/images/menu.png') no-repeat 0 -481px;}
/*****sidebar end*****/

#sideBar #CssPaneTextArea {width:200px;height:400px;}
#mockup_pages li, #add_page { margin: 0 0 0 20px; padding: 0; cursor: pointer; height: 25px;  }
#mockup_pages li form.name_update{ display: inline-block; width:130px;}
#mockup_pages li a { display: inline-block; }
#mockup_pages a { margin-right: 0px; line-height: 17px; text-decoration: none; color: #aaa; width: 124px; overflow: hidden; }
#mockup_pages a.selected { color: #fff; font-weight: bold; }
#mockup_pages .delete{ line-height: 20px; display: inline-block; vertical-align: top;}
#mockup_pages li form.name_update input { margin-bottom: 0; margin-right:0; height: 19px; width:124px; background: white; border:none;color: black; text-decoration: none; }

#mockup_pages li a.h, #mockup_pages li form input.h { display: none; }


.clear { clear: both; height: 1px; }
